.app-layout {
  display: flex;
  min-height: 100vh;
  background: #f1f5f9;
}

.app-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: 100vh;
}

.app-content-full {
  width: 100%;
  min-height: 100vh;
}